.reset-password-container .row{
  max-width:100%;
  margin:0;
}

.reset-password-container .row form div button {
  width: 100%;
}
.reset-password-container .row form .wrong-input{
  box-shadow:0px 10px 21px -3px rgba(220,53,69, 0.5);
}
.reset-password-container .row form input{
  box-shadow:0px 10px 21px -3px rgba(25, 135, 84, 0.4);
}
.reset-password-container .left-box {
  padding: 40px 0px 40px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-password-container .form-box {
  margin-top: 2em;
}

.reset-password-container .form-box .messages-box {
  margin-top: 1em;
}

.reset-password-container .form-box .messages-box a {
  text-decoration: none;
}

.reset-password-container .form-box .messages-box div {
  padding: 15px 0px;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.reset-password-container .form-box .messages-box div a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .reset-password-container {
    background-color: black;
    color: white;
  }

  .reset-password-container input {
    background-color: black;
    color: white;
  }

  .reset-password-container input::placeholder {
    color: gray;
  }

  .reset-password-container input:focus {
    background-color: black;
    color: white;
  }
}